*{
    font-family: Georgia, serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    
    margin-bottom: 100px;
    font-size: 1.75em;
}

.box{
    background-color: cadetblue;
    border: 3px solid black;
    height: 200px;
    padding: 10px;
    position: relative;
    margin: 0px 0px 30px 0px;
    
}

p {
    padding-top: 20px;
    
}

.row{
    width: 100%;
    padding: 20px;
    overflow: auto;
    
}

.sectionTitle{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    width: 30%;
    text-align: center;
    font-size: 1.25em;
}

.title1{
    background-color: blueviolet;
}
.title2{
    background-color: gold;
}
.title3{
    background-color: hotpink;
}

/* For PC device */
@media (min-width: 992px) {
    

    .col-ld-4{
        width: 31.33%;
        float: left;
        margin: 1%;
    }
    
  
}

/* For Tab device*/
@media (min-width:768px) and (max-width:991px){
   
    .col-md-4{
        width: 48%;
        float: left;
        margin: 1%;
        
    }
    .col-md-12{
        width: 98%;
        clear: both;
        margin: 1%;
        
    }
    
}

/*For Mobile Device */
@media (max-width:767px){
     .box{
         margin-top: 1%;
         margin-bottom: 30px;
     }
}